@import "tailwindcss/base";
@import "tailwindcss/components"; 
@import "tailwindcss/utilities";


@layer components {
    body{
      background: radial-gradient(#fff591 30%, #ffc57d 70%, #ff9e9e 100%);
    }
    .mainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        overflow: hidden;
    }

    .footerContainer {
      position: absolute;
      left: 0;
      width: 100vw;
      margin-top: 2rem;
      height: fit-content;
      display: flex;
      justify-content: center;
      flex-direction: row;
    }

    .footerText {
      color: black;
      font-size: xx-small;

    }
}
