@import "tailwindcss/base";
@import "tailwindcss/components"; 
@import "tailwindcss/utilities";

@layer components {
    .topTitle {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: var(--color-darkMode-primary);
        text-align: center;
        justify-content: center;
    }
}

@theme {
  --color-primary: #4a90e2;
  --color-secondary: #50e3c2;
  --color-accent: #f5a623;
  --color-background: #f0f0f0;
  --color-foreground: #333333;
  --color-darkMode-primary: azure;
  --color-darkMode-secondary: azure;
  --color-darkMode-accent: azure;
  --color-darkMode-background: #121212;
  --color-darkMode-foreground: #e0e0e0;
  --font-family-sans: "Arial", "Helvetica", "sans-serif";
  --font-family-serif: "Georgia", "serif";
}