@import "tailwindcss/base";
@import "tailwindcss/components"; 
@import "tailwindcss/utilities";

@layer components {
    .sunsetBackground {
        /* background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); */
        background: linear-gradient(0deg, #1f214d 30%, #50366f 60%, #ee6c45 80%, #ffce61 100%);
        height: max-content;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        scroll-behavior: smooth;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    .sectionSpacerDiv {
        height: 30rem;
        width: 100%;
    }
    .footerContainer {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      padding: 1rem;
    }

    .footerText {
      color: #fff;
      font-size: 0.5rem;
    }

    /* .introductionSection {
      height: 100vh;
      align-items: center;
      scroll-snap-type: y mandatory;
    }

    #introductionContainer > div{
      height: 100vh;
      scroll-snap-align: start;
      display: flex;
      justify-content: center;
      align-items: center;
    } */
}

@theme {
  --color-darkMode-background: "bg-gradient-to-r from-emerald-950 via-cyan-700 to-black";
}