@import "tailwindcss/base";
@import "tailwindcss/components"; 
@import "tailwindcss/utilities";

@layer base{
    #introductionContainer {
        display: flex;
        flex-direction: row;
        flex: 1;
        padding: 2rem;
        border-radius: 0.5rem;
    }
    #nameContainer {
        flex: 0.5;
        /* width: fit-content; */
        height: fit-content;
        margin-left: 10vh;
        /* background-color: red; */
    }
    #pictureContainer{
        display: flex;
        flex: 0.5;
        height: fit-content;
        margin-left: 10vh;
        justify-content:center;
        /* background-color: blue; */
    }
    #name {
        color: white;
        font-weight: bold;
        font-size: 4rem;
        /* background-color: blue; */
   }
    #description {
        color: white;
        font-weight: bold;
        font-size: 2rem;
        font-style: italic;
        width:30rem;
        margin-left: 3rem;
        /* background-color: red; */
   }
   #profilePicture{
        border-radius: 999px;
        width: auto;
        height: 18rem;
   }
   /* note: might want to add a custom font for the name :) */

}