@import "tailwindcss/base";
@import "tailwindcss/components"; 
@import "tailwindcss/utilities";

@layer base{
    body{
        white-space: nowrap;
    }
    #introductionContainer {
        display: flex;
        flex-direction: row;
        height: 100vh;
        scroll-snap-type: y proximity;
    }
    #introductionContainer > div{
        height: 100vh;
        scroll-snap-align: start;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #nameContainer {
        display: flex;
        flex-direction: column;
        /* width: 40vw; */
        height: fit-content;
        /* margin-left: 1vw; */
    }

    #verticalContainer {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    #linkContainer {
        display: flex;
        flex-direction: row;
        height: fit-content;
        align-items: center;
        gap: 1vw;
        margin-top: 1vh;
    }
    .linkIcon{
        color: black;
        transition: 0.3s ease-in-out;
    }
    .linkIcon:hover{
        color: white;
    }
    #name {
        color: black;
        font-weight: bold;
        font-size: xxx-large;
   }
   #githubLogo {
        color: black;
   }
    #description {
        color: black;
        font-weight: bold;
        font-size: x-large;
        font-style: italic;
   }
    #pictureContainer{
        width: 30vw;
        height: fit-content;
    }
   #profilePicture,
   #hiddenProfilePicture{
        border-radius: 999px;
        width:20%;
        height: auto;
        position: absolute;
        transition: transform 0.2s ease-in-out;
   }

   @media (max-width: 768px) {
       #introductionContainer {
           flex-direction: row;
       }
       #pictureContainer{
           height: fit-content;
       }
       #profilePicture,
       #hiddenProfilePicture{
            width: 33vw;
            height: auto;
            margin-right: 8vw;
            /* position: relative; */
       }
       #name {
            font-size: xx-large;
       }
   }

   #profilePicture{
        opacity: 1;
        z-index: 2;
   }

   #hiddenProfilePicture{
       opacity: 0;
       z-index: 1;
   }

   #profilePicture:hover{
       opacity: 0;
       transform: scale(1.1);
       transition: opacity 0.2s ease-in-out;
       & + #hiddenProfilePicture{
           opacity: 1;
           transform: scale(1.1);
           transition: transform 0.2s ease-in-out;
       }
   }

   @keyframes hover{
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0px);
        }
   }

   #scrollDownContainer{
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        margin-top: 90vh;
        height: fit-content;
        scroll-behavior: smooth;
        animation: hover 4s ease-in-out infinite;
   }

   #scrollDownText {
        mix-blend-mode:color-dodge;
        font-weight: bolder;
        font-size: large;
        color: black;
   }

   #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 1s ease-in-out;
   }

   #container:hover{
        transform: scale(1.05);
   }

   .notification{
        z-index: 100;
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        width: 20vw;
        max-height: 8vh;

        background: rgba(0, 0, 0, 0.05);
        border-width: 1px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 30px;
        backdrop-filter: blur(4px);
        color: black;
        text-align: center;
        font-weight: bold;
        font-size: large;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        animation: popup 0.5s ease-in-out;

   }

   @keyframes popup{
        0% {
            transform: translateY(300px);
        }
        100% {
            transform: translateY(0px);
        }
   }

   /* note: might want to add a custom font for the name :) */

}