@import "tailwindcss/base";
@import "tailwindcss/components"; 
@import "tailwindcss/utilities";

@layer components {
    .navBarItems {
        color: #ee6c45;
        /* font-size: 1.2vw; */
        font-size: large;
        font-weight: 600;
        margin-left: 2vw;
        text-align: center;
        transition-property: color;
        transition-duration: 700ms;
        transition-timing-function: ease-in-out;
        overflow: hidden;
    }
    .navBarItems:hover {
        color: #fff;
        transition: all 0.7s ease-in-out;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(100px);
        filter: brightness(1.2);
        border-radius: 10px;
    }
    .navBarContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        backdrop-filter: blur(10px);
        margin-top: 2rem;
        border-radius: 20px;
        z-index: 10;
        /* background-color: black; */
        overflow: hidden;
    }
    .navBarList {
        /* background-color: green; */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        backdrop-filter: blur(10px);
        height: auto;
        overflow: hidden;
    }
}