@import "tailwindcss/base";
@import "tailwindcss/components"; 
@import "tailwindcss/utilities";

@layer components {
    .navBarItems {
        color: #fefefe;
        text-shadow: 
        0 1px 3px rgba(0, 0, 0, 0.4),
        0 0 5px rgba(0, 0, 0, 0.2);
        font-size: large;
        font-weight: 600;
        padding: 1.5vh 2vw;
        border-radius: 30px;
        text-align: center;
        transition-property: color;
        transition-duration: 700ms;
        transition-timing-function: ease-in-out;
        transition: all 0.7s ease-in-out;
        overflow: hidden;
    }
    .navBarItems:hover {
        transition: all 0.7s ease-in-out;
        border-radius: 30px;
        transform: translateY(-1px);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }
    .navBarItems:active{
        background-color: black;
    }
    .navBarContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        width: fit-content;
        background: rgba(0, 0, 0, 0.05);
        border-width: 1px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 30px;
        margin-top: 2rem;
        z-index: 10;
        overflow: hidden;
    }
    .navBarList {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        backdrop-filter: blur(4px);
        border-width: 0.1px;
        border-radius: 30px;
        width: inherit;
        height: auto;
        overflow: hidden;
    }

    @media (max-width: 700px){
        .navBarContainer {
            width: 90vw;
            margin-top: 2rem;
        }
        .navBarItems {
            font-size: medium;
            margin-left: 1vw;
            margin: 0.5vw;   
        }
    }
}