@import "tailwindcss/base";
@import "tailwindcss/components"; 
@import "tailwindcss/utilities";

@layer base {
    html{
        background: radial-gradient(#fff591 30%, #ffc57d 70%, #ff9e9e 100%);
    }
    body{
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        background: radial-gradient(#fff591 30%, #ffc57d 70%, #ff9e9e 100%);
    }
    .backgroundContainer{
        width: 100vw;
        z-index: -10;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5px;
    }

    .cardContainer{
        display: flex;
        flex-direction: column;
        width: 27vw;
        height: fit-content;
        border-radius: 60px;
    }

    .cardBackgroundContainer{
        backdrop-filter: blur(5px);
        border-radius: 60px;
    }

    .topTitle {
        font-size: xxx-large;
        font-weight: bold;
        margin-top: 15vh;
        margin-bottom: 1rem;
        color: white;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4),
        0 0 5px rgba(0, 0, 0, 0.2);
        text-align: center;
        justify-content: center;
    }

    .ProjectsTitle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        flex-direction: column;
        color: white;
        font-size: 1.5rem;
        padding-bottom: 1rem;
        background-color: green;
    }

    .projectsGrid{
        display: inline-grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2rem;
        padding: 1rem;
        background-color: gray;
        margin: 0 auto;
        width: 100%;
        justify-content: center;
        align-content: center;
    }
    
    .projectsGrid h2{
        font-size: 1.25rem;
        font-weight: bold;
        color: white;
        border: 1px solid yellow;
        text-align: center;
    }

    #finished{
        background-color: blue;
    }

    #inProgress{
        background-color: red;
        justify-content: center;
        align-items: center;
    }

    .cardClass {
        width: 27vw;
        white-space: wrap;
    }

    @media (max-width: 768px) {
        .cardClass{
            width: 45vw;
        }
    }
}