@import "tailwindcss/base";
@import "tailwindcss/components"; 
@import "tailwindcss/utilities";

@layer base {
    .flip-card-container:hover .flip-card,
    .flip-card-container:focus-within .flip-card {
        transform: rotateY(180deg);
    }

    #featuredProjectsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        height: 100vh;
    }

    #featuredProjectsTitle {
        position: static;
        width: 100vw;
        font-size: 1.5vw;
        text-align: center;
        font-weight: bold;
        color: white;
        margin-bottom: 2vh;
        /* background-color: black; */
    }

    #projectsFeatureContainer {
        display: flex;
        flex-direction: row;
        flex-wrap:nowrap;
        position: relative;
        height: 40vh;
        width: 100vw;
        justify-content: space-around;
        padding-top: 1rem;
    }

    #projectsFeatureWrapper {
        display: flex;
        align-items: center;
        width: 100vw;
        margin: 0 auto;
        overflow: hidden;
    }

    .flip-card-container {
        width: 22vw;
        height: 35vh;
    }

    .flip-card {
        width: inherit;
        height: inherit;
        position: relative;
        transform-style: preserve-3d;
        transition: .6s .1s;
    }

    .projectsFeatureCard,
    .projectsFeatureCardBack {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        padding: 1rem;
        backface-visibility: hidden;
        text-align: center;
        border-radius: 0.5rem;
        border-width: 1px;
    }

    .projectsFeatureCard {
        height: 35vh;
        transform: rotateY(0deg);
        z-index: 2;
    }

    .projectsFeatureCardBack {
        transform: rotateY(180deg) translateY(-35vh);
        height: 35vh;
        z-index: 1;
    }

    .projectsFeatureCard:hover .flip-card,
    .projectsFeatureCardBack:focus-within .flip-card {
        animation: none;
        transform: rotateY(180deg);
    }
    
    .projectFeatureTitle{
        margin-bottom: 0.5rem;
        /* font-size: 1.5rem; */
        font-size: 1.7vw;
        font-weight: bold;
    }

    .projectFeatureDescription {
        font-size: 1.2vw;
        margin-top: 0.5rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .projectFeatureLinks {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}