@import "tailwindcss/base";
@import "tailwindcss/components"; 
@import "tailwindcss/utilities";

@layer base {
    body{
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }

    #featuredProjectsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        height: fit-content;
    }

    #topProjectsContainer {
        display: flex;
        flex-direction: column;
        width: 80vw;
        align-items: center;
    }

    #featuredProjectsTitle {
        position: static;
        /* width: 900vw; */
        font-size: xx-large;
        font-weight: bold;
        color: black;
        margin-bottom: 2vh;
    }

    #projectsFeatureContainer {
        display: flex;
        flex-direction: row;
        flex-wrap:nowrap;
        position: relative;
        height: 70vh;
        width: 100vw;
        justify-content: center;
        padding-top: 1rem;
    }

    #projectsFeatureWrapper {
        display: flex;
        width: 100vw;
        height: inherit;
    }

    #viewMoreContainer{
        border-width: 1;
        padding: 5;
        border-radius: 20;
        border-color: black;
        transition: 0.2s ease-in-out;
    }

    #viewMoreContainer:hover{
        transform: translateY(-5px);
    }

    #viewMoreText {
        color: black;
        font-weight: bold;
        font-size: small;
        transition: 0.2s ease-in-out;
    }

    @media (max-width: 768px) {
        #featuredProjectsTitle {
            font-size: x-large;
        }

        #viewMoreText {
            font-size: x-small;
        }

        #projectsFeatureWrapper{
            /* background-color: red; */
            height: fit-content;
        }
    }

}