@import "tailwindcss/base";
@import "tailwindcss/components"; 
@import "tailwindcss/utilities";

@layer base {
    .flip-card-container:hover .flip-card,
    .flip-card-container:focus-within .flip-card {
        transform: rotateY(180deg);
    }

    #featuredProjectsTitle {
        position: static;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        flex-direction: column;
        color: white;
    }

    .flip-card-container {
        width: 100%;
        height: 100%;
        margin-right: 2rem;
    }

    .flip-card {
        width: inherit;
        height: inherit;
        position: relative;
        transform-style: preserve-3d;
        transition: .6s .1s;
    }

    .projectsFeatureCard,
    .projectsFeatureCardBack {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        /* justify-content: center; */
        padding: 1rem;
        backface-visibility: hidden;
        text-align: center;
        border-radius: 0.5rem;
        border-width: 1px;
    }

    .projectsFeatureCard {
        height: 16rem;
        transform: rotateY(0deg);
        z-index: 2;
    }

    .projectsFeatureCardBack {
        transform: rotateY(180deg) translateY(-16rem);
        height: 16rem;
        z-index: 1;
    }

    .projectsFeatureCard:hover .flip-card,
    .projectsFeatureCardBack:focus-within .flip-card {
        animation: none;
        transform: rotateY(180deg);
    }
    
    .projectFeatureTitle{
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .projectFeatureDescription {
        font-size: 1rem;
        margin-top: 0.5rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .projectFeatureLinks {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #projectsFeatureContainer {
        position: relative;
        height: 21rem;
        width: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap:nowrap;
        padding-top: 1rem;
    }

    #projectsFeatureWrapper {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }
}