@import "tailwindcss/base";
@import "tailwindcss/components"; 
@import "tailwindcss/utilities";

@layer base {

    .backgroundContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        min-height: 250%;
        overflow: scroll;
    }

    .cardContainer{
        display: flex;
        flex-direction: column;
        width: 27vw;
        height: fit-content;
        border-radius: 60px;
        transition: 0.7s ease-in-out;
    }

    .cardClass:hover{
        transform: translateY(-2px);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 1.2);
        transition: 0.7s ease-in-out;
    }

    .cardBackgroundContainer{
        backdrop-filter: blur(5px);
        border-radius: 60px;
    }

    .topTitle {
        font-size: xxx-large;
        font-weight: bold;
        margin-top: 15vh;
        margin-bottom: 1rem;
        color: white;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4),
        0 0 5px rgba(0, 0, 0, 0.2);
        text-align: center;
        justify-content: center;
    }

    .ProjectsTitle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        flex-direction: column;
        color: white;
        font-size: 1.5rem;
        padding-bottom: 1rem;
        background-color: green;
    }

    .projectsGrid{
        display: inline-grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2rem;
        padding: 1rem;
        background-color: gray;
        margin: 0 auto;
        width: 100%;
        justify-content: center;
        align-content: center;
    }
    
    .projectsGrid h2{
        font-size: 1.25rem;
        font-weight: bold;
        color: white;
        border: 1px solid yellow;
        text-align: center;
    }

    #finished{
        background-color: blue;
    }

    #inProgress{
        background-color: red;
        justify-content: center;
        align-items: center;
    }

    .cardClass {
        width: 27vw;
        white-space: wrap;
        transition: 0.7s ease-in-out;
    }

    .languageComponent {
        display: flex;
        gap: 0.5rem;
        background-color:black;
        width: fit-content;
        padding: 5px 10px;
        border-radius: 15px;
    }

    .languageText {
        font-size: small;
        font-weight: bold;
        color: white;
        text-shadow: 0 1px 3px rgba(255, 255, 255, 0.4),
        0 0 5px rgba(255, 255, 255, 0.2);
    }

    .githubIcon {
        color: white;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4),
        0 0 5px rgba(0, 0, 0, 0.2);
        font-size: xx-large;
        background-color: black;
        padding: 5px;
        border-radius: 50px;
    }

    @media (max-width: 768px) {
        .cardClass{
            width: 45vw;
        }
    }
}