#timelineContainer {
    /* display: flex;
    flex-direction: column; */
    margin-top: 2rem;
    padding: 20px;
    backdrop-filter: blur(100px);
    border: 1px solid #eee;
    border-radius: 5px;
    width: 50%;
}

/* #timeline{
    display: flex;
    flex-direction: column;
} */

