#timelineContainer {
    /* display: flex;
    flex-direction: column; */
    margin-top: 2rem;
    padding: 20px;
    backdrop-filter: blur(100px);
    border: 1px solid #eee;
    border-radius: 5px;
    width: 50%;
}

.timeline-description {
    list-style-type: disc;
    list-style: inside;
    padding: 0;
    margin-left: 1rem;
    color: white;
}

.timeline-description li {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: white;
}

.timeline-date{
    font-weight: bold;
    font-size: 0.8rem;
    color: white;
}

.timeline-name{
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
}

.timeline-title{
    font-style: italic;
    font-size: 0.8rem;
    color: white;
}
